<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="icon" type="image/png" href="{{ "/assets/icon.png" | prepend: site.baseurl }}">

  <link rel="apple-touch-icon" href="touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="48x48" href="{{ "/assets/icon.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="857x857" href="{{ "/assets/square.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="1712x1712" href="{{ "/assets/square@2x.png" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" media="print" href="{{ "/css/print.css" | prepend: site.baseurl }}">

  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Fira+Mono:400,700|Montserrat" rel="stylesheet">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="owickstrom">
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets/square.png">
</head>
