---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

    {% include header.html %}


  <body>
    <div class="page-content">
      <div class="wrapper">
          <h1 class="post-title"><code>¯\_(ツ)_/¯</code></h1>
          <p>
          You seem to have followed a broken link. If you think this URL should
          point to something more useful then please <a
          href="https://twitter.com/owickstrom"> let me know on
          Twitter</a>.
          </p>
      </div>
    </div>

    {% include footer.html %}
    {% include analytics.html %}

  </body>

</html>
