html {
    font: 16px/1.5 'Baskerville', serif;
    color: #555;
}

body {
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura', 'Helvetica', sans-serif;
  font-weight: 800;
  line-height: 1.1;
}

h1,
h2 {
  color: #e81c4f;
}

p, ul, ol {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}
a:hover,
a:active {
  color: #333;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

.events {
  padding: 0 0 0 1.5em;
}

.events li {
  margin: 0 0 .5em;
}
