html {
    font: 18px/1.5 'Baskerville', serif;
    color: #555;
}

body {
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.1;
}

h1,
h2 {
  color: #e81c4f;
}

p, ul, ol {
  margin-bottom: 1.5em;
}

a:link {
  color: #1d79de;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

@media screen and (min-width: 850px) {
  html {
    font-size: 21px;
  }
}

@media screen and (min-width: 1050px) {
  html {
    font-size: 24px;
  }
}

.events {
  padding: 0 0 0 1.5em;
}

.events li {
  margin: 0 0 .5em;
}
