<script>
// Override fonts for Safari, see: https://bugs.webkit.org/show_bug.cgi?id=149455
// Quite depressing, indeed.
if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
  document.body.style.fontFamily = 'Palatino, Georgia, serif';
}

function loadCssAsync(path) {
  function cb() {
    var l = document.createElement('link'); l.rel = 'stylesheet';
    l.href = path;
    var h = document.getElementsByTagName('head')[0]; h.appendChild(l, h);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
  webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(cb);
  else window.addEventListener('load', cb);
};

loadCssAsync('{{ site.baseurl }}/css/syntax-highlighting.css');
</script>
