.site-nav {

  .page-link {
    color: $text-color;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.post-comments {
  padding: 0 0 $spacing-unit;
}

#post-comments-link {
  display: block;
  text-align: center;
}

#post-comments-link.hidden,
.hidden {
  display: none;
}

.no-javascript {
  font-style: italic;
  font-size: $small-font-size;
  color: $grey-color;
  text-align: center;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0 $spacing-unit;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: $small-font-size;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit*1 0;
}

.page-header {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 2;
  text-align: center;
}

.intro {
  margin-top: 0;
}

.page-title {
  font-size: 42px;
  margin-bottom: $spacing-unit / 4;
  letter-spacing: -1px;
  font-weight: 500;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
  @include media-query($on-palm) {
    font-size: 32px;
  }
}

.draft {
  color: #222;
  background: #ffea33;
}

.post-list {
  margin-top: $spacing-unit/2;

  > li {
    margin-bottom: $spacing-unit / 2;
  }

  .draft:before {
    content: '[DRAFT] ';
    font-family: $sans-font-family;
    font-weight: 500;
  }

  .post-meta {
    font-style: normal;
  }
}
.about-me {
  margin-bottom: $spacing-unit;
}
.index-heading {
  position: absolute;
  text-indent: -9999px;
}

.post-meta {
  font-size: 100%;
}


/**
 * Posts
 */

.post-content {
  margin-bottom: 2em;
}

.post-content figure {
    img {
        margin: 1em auto;
    }
}
.post-content p.draft {
  padding: 1em;
  background: lighten(#ffea33, 25%);
  border: 1px dashed #ffea33;
  color: darken(#ffea33, 50%);
}

figcaption,
.caption {
    text-align: center;
    font-style: italic;
    font-size: $small-font-size;
    margin: 1em auto 2em;
    max-width: 400px;
}

.caption-number {
  margin-right: .25em;
}

.musical-signs {
    text-align: center;
    margin: 0 auto;

    td img {
      display: inline-block;
      margin: .25em 0;
    }
}
.music-sign {
    display: inline-block;
    font-size: 125%;
    line-height: 1.4rem;
    vertical-align: sub;

    &.stave {
        margin: 0 .5em 0 .1em;
    }
}
