/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
}

.site-title {
  display: block;
  font-size: 100%;
  padding: $spacing-unit/2 0;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {

  .page-link {
    color: $text-color;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.post-comments {
  padding: 0 0 $spacing-unit;
}

#post-comments-link {
  display: block;
  font-style: italic;
}

#post-comments-link.hidden,
.hidden {
  display: none;
}

.no-javascript {
  font-style: italic;
  font-size: $small-font-size;
  color: $grey-color;
  text-align: center;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  font-size: 16px;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit / 2;
  }
}
.about-me {
  margin-bottom: $spacing-unit;
}
.index-heading {
  position: absolute;
  text-indent: -9999px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 100%;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: $spacing-unit / 4;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
