.site-title {
  font-weight: 400;
}
.site-nav {

  .page-link {
    color: $text-color;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.post-comments {
  padding: 0 0 $spacing-unit;
}

#post-comments-link {
  display: block;
  font-style: italic;
  text-align: center;
}

#post-comments-link.hidden,
.hidden {
  display: none;
}

.no-javascript {
  font-style: italic;
  font-size: $small-font-size;
  color: $grey-color;
  text-align: center;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0 $spacing-unit;
  border-top: 1px solid #ddd;
  text-align: center;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit*2 0;
}

.page-header {
  margin-bottom: $spacing-unit * 2;
  text-align: center;
}

.page-title {
  font-size: 42px;
  margin-bottom: $spacing-unit / 4;
  line-height: $base-line-height * 2;
  letter-spacing: -1px;
  font-weight: 500;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
  @include media-query($on-palm) {
    font-size: 32px;
  }
}

.post-list {
  margin-top: $spacing-unit/2;

  > li {
    margin-bottom: $spacing-unit / 2;
  }

  .post-meta {
    font-style: normal;
  }
}
.about-me {
  margin-bottom: $spacing-unit;
  text-align: justify;
}
.index-heading {
  position: absolute;
  text-indent: -9999px;
}

.post-meta {
  font-size: 100%;
  font-style: italic;
}


/**
 * Posts
 */

.post-content {
  margin-bottom: 2em;
  text-align: justify;
}
