html {
  box-sizing: border-box;
  height: 100%;
  background-color: $background-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
}
*, *:before, *:after {
  box-sizing: inherit;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}



/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  height: 100%;
  min-height: 100%;
}

@include media-query($on-laptop) {
  html {
    font-size: $base-font-size - 2;
  }
}

@include media-query($on-palm) {
  html {
    font-size: $base-font-size - 3;
  }
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit/2;
}

p {
  margin-bottom: $spacing-unit/2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  margin: 1em 0;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
  margin: 1.5em 0 .5em;
  font-weight: 900;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

h4, h5, h6 {
  font-size: 95%;
  text-transform: uppercase;
}

/**
 * Links
 */
a {
  color: $link-color;

  &:visited {
    color: $link-visited-color;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 5px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 125%;
  font-style: italic;
  margin: 1.25em 0;

  > :last-child {
    margin-bottom: 0;
  }
}

blockquote cite:before {
  content: "\2014 ";
}

strong {
  font-weight: 600;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: $monospace-font-family;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.4;
}

pre {
  overflow-x: auto;
}

p code, li code {
}

table {
  border-spacing: 0;
  border-collapse: separate;
  margin: 1em 0 2em;
}
table thead th {
  border-bottom: 1px solid $text-color;
  font-family: $secondary-font-family;
}
table td {
    border-bottom: 1px solid lighten($text-color, 65%);
}

table ul, table ol {
  margin: 0;
}

table th,
table td {
    padding: .5rem;
    text-align: left;
}

hr {
  margin: ($base-line-height * 1rem) 0 2.4em;
  line-height: 0;
  border-style: none none dotted;
  color: #fff;
  background-color: #fff;

  &:after {
    display: block;
    content: '...';
    color: $text-color;
    text-align: center;
    font-size: 200%;
    font-family: $monospace-font-family;
  }
}

dl {
  margin: 1em 0;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0.5em 1em 1.5em;
}

kbd {
  display: inline-block;
  font-size: 0.75rem;
  font-family: $monospace-font-family;
  border: 1px solid $text-color;
  border-radius: 2px;
  padding: 2px 4px;
  line-height: 1;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  }

  @include media-query($on-palm) {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
