div.home {
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .wrapper {
    padding: $spacing-unit;
    flex: 0 1 auto;
  }
}
.home .page {
  margin: 0 auto;

  .site-title {
    font-family: $base-font-family;
    font-size: 250%;
    margin: 0 0 $spacing-unit/2;
  }

  img {
    width: 100%;
  }

  .site-description {
    max-width: 20em;
    margin: 0 auto $spacing-unit*2;
    font-size: 150%;
    font-family: $base-font-family;
  }

  .nav {
    font-family: $secondary-font-family;
  }
  .nav ul {
    font-size: 125%;
    li {
      display: inline-block;
      float: none;
      line-height: 2;

      a {
      }
    }
  }

  @include media-query($on-laptop) {
  }
  @include media-query($on-palm) {
    .site-description {
      font-size: 125%;
    }
    .nav ul {
      li {
        display: block;
      }
    }
  }
}

@include media-query($on-very-big-screen) {
  .home-page {
  }
}

@include media-query($on-laptop) {
  .home-page {
  }
}
