$grid-spacing: 2rem;

body {
  position: relative;
  min-width: 300px;
  min-height: 360px;
}

.nav ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0 1rem;
  font-weight: 400;
  font-size: 90%;

  li {
    display: block;
    float: left;
  }
  a {
    padding: 8px;
  }
}


.top-nav {
  font-family: $secondary-font-family;
  background: linear-gradient(#eee, #fff);

  .wrapper {
      padding-top: $spacing-unit;
      padding-bottom: $spacing-unit;
  }
  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  a.home {
    display: block;
    text-align: center;
    margin: 0 0 $spacing-unit/2;
    font-size: 125%;
    font-weight: 600;
    line-height: 1.2;
  }
  .nav {
      text-align: center;
  }
  .nav ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;

    a {
      padding: 8px 16px;
      height: 64px;
      line-height: 48px;

      &:hover {
        text-decoration: none;
        background: #eee;
        border-bottom: 2px solid #ccc;
      }
    }
  }

  li.current a {
      border-bottom: 2px solid $link-color;
      color: $link-color;
  }
}

.footnotes {
  font-size: 90%;

  hr {
    display: none;
  }
  p {
    font-style: italic;
  }
}
.footnote-ref {
  text-decoration: none;
  sup {
    text-decoration: underline;
  }
  &:hover {
    sup {
      text-decoration: none;
    }
  }
}
.footnote-back {
  margin-left: .25em;
}

@media screen and (max-width: $on-palm) {
  .top-nav .nav ul a {
    padding: .5rem;
  }
}
@media screen and (max-width: 450px) {
  .top-nav .nav ul {
    margin: 0;
    padding: 0;
  }
}

.post-list {
  .title {
    font-size: 125%;
    margin-top: 0;
  }

  time a {
    text-decoration: none;
  }
}

.tags {
  list-style-type: none;
  margin: .4em 0 0 0;
  font-size: 90%;
  font-family: $monospace-font-family;
  font-weight: 400;

  li {
    display: inline-block;
    background: $grey-color-light;
    padding: 0 .4em;
    margin-top: .4em;
  }
}


@media screen and (orientation: portrait) and (max-width: $on-big-screen) {
  .title-pane {
    position: static;
    width: 100%;
    height: auto;
  }
  .post-list-pane {
    position: static;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: $on-palm) {
  .title-pane .wrapper {
    padding: 1rem;
  }
  .post-list-pane {
    padding-top: 1rem;
  }
  .home-page .post-list {
    margin-left: 1rem;

    & > li {
      margin-bottom: 1rem;

      a {
        margin-right: 1rem;
      }
    }
  }
  .home-page .nav {
    padding: .5rem 0;
  }
  .home-page .nav a {
    padding: .5rem;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit;
  text-align: center;
  font-family: $secondary-font-family;
  font-size: $small-font-size;
  color: #666;
}

.page-content {
  padding: $spacing-unit 0;
}

/**
 * Page content
 */

.page-header {
  margin: 0 0 $spacing-unit;
  padding-bottom: $spacing-unit/2;
  border-bottom: 1px solid #ddd;
}

.page-title {
  font-size: 175%;
  line-height: 1.2;
  margin: 0;

  @include media-query($on-laptop) {
  }
  @include media-query($on-palm) {
    font-size: 175%;
  }
}

.draft .title {
  a {
    color: red;
    background: #ffea33;
  }
}

.category-excerpt,
.post-meta {
  margin: $spacing-unit/2 0 0;
  font-family: $secondary-font-family;
}

.post-meta {
  color: $grey-color;

  a {
    color: inherit;
  }

  .category, .reading-time {
    margin-bottom: .5rem;

    &:before {
      content: ' \2014 ';
    }
  }
}

.post-list {
  list-style-type: none;
  margin-left: 0;

  li {
    display: flex;
    margin-bottom: 3.2rem;
  }

  .title-and-excerpt {
    flex: 1 1 auto;
  }
  .title {
    margin-bottom: 0;
    font-family: $secondary-font-family;
  }
  time {
    flex: 0 0 auto;
    text-align: right;
    padding-left: 2em;
    font-family: $secondary-font-family;

    a {
        color: $text-color;
    }
  }
  .day, .year {
    display: block;
  }
  .day {
    font-size: 125%;
  }
  .excerpt {
    margin: .8rem 0;
  }
}

div.sourceCode {
    padding: .5em 1em;
    margin: 0;
}

@include media-query($on-palm) {
  div.sourceCode {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0;
    background: #eee;
  }
}

@include media-query($on-laptop) {
  pre {
    padding: .5rem;
  }
}
@include media-query($on-palm) {
  pre {
    padding: .5rem;
  }
}

.index-heading {
  position: absolute;
  text-indent: -9999px;
}


/**
 * Posts
 */

.post-content {
  margin-bottom: 2em;
}

.post-content figure {
    img {
      display: block;
      margin: 1.5em auto 1em auto;
    }
    a {
      text-align: center;
    }
}
.post-content p.draft {
  padding: 1em;
  background: lighten(#ffea33, 25%);
  border: 1px dashed #ffea33;
  color: darken(#ffea33, 50%);
}

figcaption,
.caption {
    text-align: center;
    font-style: italic;
    font-size: $small-font-size;
    margin: 1em auto 2em;
    max-width: 400px;
}

.caption-number {
  margin-right: .25em;
}

.musical-signs {
    text-align: center;
    margin: 0 auto;

    td img {
      display: inline-block;
      margin: .25em 0;
    }
}
.music-sign {
    display: inline-block;
    font-size: 125%;
    line-height: 1.6rem;
    vertical-align: sub;

    &.stave {
        margin: 0 .5em 0 .1em;
    }
}

.twitter-tweet {
  max-width: 500px;
}

figure.two-images {
  img {
    float: left;
    width: 50%;
  }
  figcaption {
    clear: both;
  }
}

.takeaway {
  margin: 4em 0;
  padding: 0 3em;
  text-align: center;
}
.takeaway figure {
  min-width: 200px;
  margin: 0 auto;
}
.takeaway h3 {
  margin: 1em 0;
  font-size: 150%;
  font-weight: 400;
}
.takeaway p {
  font-style: italic;
}

p br:first-child,
p br:last-child {
    display: none;
}

p .math.display {
    display: block;
    text-align: center;
    overflow-x: auto;
}

.todomvc-results .divider td {
  text-align: center;
  font-style: italic;
  background: #eee;
}
.todomvc-legend td {
  text-align: right;
  font-style: italic;
  font-size: 90%;
  border: none;
}

@media print {
  .home-page .title-pane {
    position: static;
    width: auto;
    height: auto;

    h1 {
      font-size: 200%;
      position: static;
      text-indent: 0;
    }
    img {
      display: none;
    }
  }
  .top-nav {
    display: none;
  }
}
