---
layout: default
---

{% include nav.html %}

<div class="page-content">
  <div class="wrapper">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="page-header post-header">
        <h1 class="page-title post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
          {% assign category = page.categories | first %}
          {% if category %}
          <span class="category">
            <a href="{{ site.baseurl }}/{{ category }}">{{category | replace: '-', ' ' | capitalize_all }}</a>
          </span>
          {% include read_time.html %}
          {% endif %}
        </p>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      <p class="follow-twitter">
          If you want to get updates on my writing and software
          projects, I recommend you <a
          href="https://twitter.com/owickstrom">follow me on
          Twitter</a>.
      </p>
    </article>
  </div>
</div>

{% include footer.html %}
