---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Crimson Pro', serif;
$secondary-font-family: 'Pragati Narrow', sans-serif;
$monospace-font-family: 'Inconsolata', 'Ubuntu Mono', monospace;
$base-font-size:   22px;
$base-font-weight: 500;
$small-font-size:  19px;
$base-line-height: 1.5;
$code-background-color: #fff9de;

$spacing-unit:     2rem;

$link-color:       #4433dd;
$link-visited-color:       #9900bb;
$text-color:       #333;
$background-color: #fff;

$grey-color:       #666;
$grey-color-light: #f0f0f0;
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    $base-font-size * 40;

$on-palm:             600px;
$on-laptop:           800px;
$on-big-screen:       1400px;
$on-very-big-screen:  1800px;



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "home"
;
