html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  height: 100%;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
}

@include media-query($on-laptop) {
  body {
    font-size: 15px;
  }
}

@include media-query($on-palm) {
  body {
    font-size: 14px;
  }
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 1.6em;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  margin: 1em 0;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  line-height: inherit;
  margin-bottom: 1.6rem;
  font-weight: 600;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  letter-spacing: 0.05em;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: #771fc1;
  }

  &:hover {
    text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 5px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 125%;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

blockquote cite:before {
  content: "\2014 ";
}

strong {
  font-weight: 600;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: $monospace-font-family;
  line-height: inherit;
}

pre {
  padding: .8rem 1.6rem;
  margin-bottom: 1.6rem;
  overflow-x: auto;
  border-left: 5px solid $grey-color-light;
}

p code {
  background: $grey-color-light;
  padding: .1em .2em;
}

@include media-query($on-laptop) {
  pre {
    padding-left: .8rem;
    padding-right: .8rem;
  }
}
@include media-query($on-palm) {
  pre {
    padding-left: .8rem;
    padding-right: .8rem;
  }
}

table {
    border-spacing: 0;
    border-collapse: separate;
}
table th {
    border-bottom: 1px solid $text-color;
}

table th,
table td {
    padding: .25rem;
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  }

  @include media-query($on-palm) {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
