.home {
  background: $brand-color;
  height: 100%;
  color: #fff;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;

  .wrapper {
    padding: $spacing-unit;
  }
}
.home .page {
  font-family: $secondary-font-family;
  text-align: center;
  max-width: 500px;

  .site-title {
    position: absolute;
    text-indent: -9999px;
    font-size: 52px;
    color: $text-color;
  }

  img {
    width: 100%;
  }

  .site-description {
    margin: $spacing-unit auto $spacing-unit*4;
    font-size: 125%;
    text-align: justify;
    color: lighten($brand-color, 20%);
  }

  .nav ul {
    li {
      display: inline-block;
      float: none;

      a {
        color: #fff;
      }

      &:after {
        color: darken($brand-color, 10%);
        content: ' | ';
      }
      &:last-child:after {
        content: '';
      }
    }
  }

  @include media-query($on-laptop) {
  }
  @include media-query($on-palm) {
    .site-description {
      font-size: 100%;
    }
    .nav {
      font-size: 80%;
    }
  }

}

@include media-query($on-very-big-screen) {
  .home-page {
  }
}

@include media-query($on-laptop) {
  .home-page {
  }
}
