div.home {
  min-height: 100%;
  background: $brand-color;
  color: #fff;
  text-align: center;

  .wrapper {
    padding: $spacing-unit;
  }
}
.home .page {
  max-width: 500px;
  margin: 0 auto;

  .site-title {
    font-family: $secondary-font-family;
    position: absolute;
    text-indent: -9999px;
    font-size: 52px;
    color: $text-color;
  }

  img {
    width: 100%;
  }

  .site-description {
    font-family: $secondary-font-family;
    margin: $spacing-unit auto $spacing-unit*2;
    font-size: 150%;
    text-align: justify;
    color: #fff;
  }

  .nav {
    font-family: $secondary-font-family;
    font-size: 125%;
  }
  .nav ul {
    li {
      display: inline-block;
      float: none;

      a {
        color: #fff;
      }

      &:after {
        color: darken($brand-color, 10%);
        border-right: 2px solid darken($brand-color, 10%);
        padding-right: .5em;
        margin-right: .5em;
        content: '';
      }
      &:last-child:after {
        border: none;
      }
    }
  }

  @include media-query($on-laptop) {
  }
  @include media-query($on-palm) {
    .site-description {
      font-size: 100%;
    }
    .nav {
    }
  }

  .latest-posts {
    margin: $spacing-unit*2 auto;
    padding: $spacing-unit 0;
    border-top: 2px solid darken($brand-color, 10%);
    border-bottom: 2px solid darken($brand-color, 10%);

    h2 {
      font-family: $secondary-font-family;
      margin-top: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 1rem 0;
    }

    li {
      margin: 1em 0;
      text-align: left;
    }

    time {
      font-family: $secondary-font-family;
      font-weight: bold;
      margin-right: .5em;
    }

    a {
      color: #fff;
    }
    .draft a {
      color: red;
      background: #ffea33;
    }
  }
}

@include media-query($on-very-big-screen) {
  .home-page {
  }
}

@include media-query($on-laptop) {
  .home-page {
  }
}
