$grid-spacing: 2rem;

body {
  position: relative;
  min-width: 300px;
  min-height: 360px;
}

.nav ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0 1rem;
  font-weight: 400;
  font-size: 90%;

  li {
    display: block;
    float: left;
  }
  a {
    color: $text-color;
    padding: 8px;
  }
}


.top-nav {
  background: $text-color;
  font-family: $secondary-font-family;
  font-size: 80%;

  .wrapper {
    height: 48px;
  }
  .home {
    background: $brand-color;
    background-image: linear-gradient( 45deg, darken($brand-color, 10%), $brand-color );
    display: block;
    height: 100%;
    float: left;
    padding: 8px;

    &:hover {
      background-image: linear-gradient( 45deg, $brand-color, lighten($brand-color, 10%) );
    }

    img {
      display: block;
      height: 100%;
      margin: 0;
      color: #fff;
      line-height: 32px;
    }
  }
  .nav ul {
    float: right;
    padding-right: 0;

    a {
      padding: 8px 16px;
      height: 64px;
      line-height: 48px;
      color: #fff;
    }
  }
}

@media screen and (max-width: $on-palm) {
  .top-nav .nav ul a {
    padding: .5rem;
  }
}

.post-list .title {
  font-size: 125%;
}

.tags {
  list-style-type: none;
  margin: .4em 0 0 0;
  font-size: 90%;
  font-family: $monospace-font-family;
  font-weight: 400;

  li {
    display: inline-block;
    background: $grey-color-light;
    padding: 0 .4em;
    margin-top: .4em;
  }
}

@media screen and (orientation: portrait) and (max-width: $on-big-screen) {
  .title-pane {
    position: static;
    width: 100%;
    height: auto;
  }
  .post-list-pane {
    position: static;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: $on-palm) {
  .title-pane .wrapper {
    padding: 1rem;
  }
  .post-list-pane {
    padding-top: 1rem;
  }
  .home-page .post-list {
    margin-left: 1rem;

    & > li {
      margin-bottom: 1rem;

      a {
        margin-right: 1rem;
      }
    }
  }
  .home-page .nav {
    padding: .5rem 0;
  }
  .home-page .nav a {
    padding: .5rem;
  }
}

.post-comments {
  padding: 0 0 $spacing-unit;
}

#post-comments-link {
  display: block;
  text-align: center;
}

#post-comments-link.hidden,
.hidden {
  display: none;
}

.no-javascript {
  font-style: italic;
  font-size: $small-font-size;
  color: $grey-color;
  text-align: center;
}

/**
 * Site footer
 */
.site-footer {
  margin-top: $spacing-unit;
  text-align: center;
  font-size: $small-font-size;
}

/**
 * Page content
 */
.page-content {
  margin-bottom: $spacing-unit 0;
}


.page-header {
  margin: $spacing-unit*2 0;
  text-align: center;
}

.page-title {
  font-size: 200%;
  margin: ($spacing-unit * 2) 0 $spacing-unit;
  font-weight: 600;

  @include media-query($on-laptop) {
  }
  @include media-query($on-palm) {
    font-size: 175%;
  }
}

.draft {
  color: #222;
  background: #ffea33;
}

.category-excerpt {
  margin-bottom: $spacing-unit * 2;
  text-align: center;
  font-size: 125%;
}

.post-meta {
  margin: $spacing-unit 0 ($spacing-unit * 2);
  color: $grey-color;

  a {
    color: inherit;
  }

  .category {
    margin-bottom: .5rem;

    &:before {
      content: ' \2014 ';
    }
  }
}

.post-list {
  list-style-type: none;
  margin-left: 0;

  li {
    margin-bottom: 3.2rem;
  }

  .title {
    margin-bottom: 0;
  }
  .excerpt {
    margin: .8rem 0;
    font-style: italic;
  }
}


.index-heading {
  position: absolute;
  text-indent: -9999px;
}


/**
 * Posts
 */

.post-content {
  margin-bottom: 2em;
}

.post-content figure {
    img {
      display: block;
      margin: 1em auto;
    }
    a {
      text-align: center;
    }
}
.post-content p.draft {
  padding: 1em;
  background: lighten(#ffea33, 25%);
  border: 1px dashed #ffea33;
  color: darken(#ffea33, 50%);
}

figcaption,
.caption {
    text-align: center;
    font-style: italic;
    font-size: $small-font-size;
    margin: 1em auto 2em;
    max-width: 400px;
}

.caption-number {
  margin-right: .25em;
}

.musical-signs {
    text-align: center;
    margin: 0 auto;

    td img {
      display: inline-block;
      margin: .25em 0;
    }
}
.music-sign {
    display: inline-block;
    font-size: 125%;
    line-height: 1.6rem;
    vertical-align: sub;

    &.stave {
        margin: 0 .5em 0 .1em;
    }
}

.twitter-tweet {
  max-width: 500px;
}

.contact-form {
  .form-row {
    margin: 0 0 1em 0;
  }
  label {
    display: block;
    font-family: $secondary-font-family;
    font-size: 80%;
    font-weight: 500;
    margin: 0 0 .25em;
  }
  input,
  textarea {
    padding: .5em;
    font-family: $secondary-font-family;
    border: 1px solid #ccc;
    color: #888;
  }
  input[type=submit] {
    padding: .75em 1em;
    text-transform: uppercase;
    color: $text-color;
    background: #eee;
  }
  textarea {
    width: 100%;
  }
}

figure.two-images {
  img {
    float: left;
    width: 50%;
  }
  figcaption {
    clear: both;
  }
}

@media print {
  .home-page .title-pane {
    position: static;
    width: auto;
    height: auto;

    h1 {
      font-size: 200%;
      position: static;
      text-indent: 0;
    }
    img {
      display: none;
    }
  }
  .top-nav {
    display: none;
  }
}
