$grid-spacing: 2rem;

body {
  position: relative;
  min-width: 300px;
  min-height: 360px;
}

.nav ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 80%;

  li {
    display: block;
    float: left;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    padding: 8px 16px;

    color: $grey-color-light;

    &:hover {
      color: #fff;
    }
  }
}


.top-nav {
  background: $text-color;

  .wrapper {
    height: 48px;
  }
  .home {
    background: $brand-color;
    display: block;
    height: 100%;
    float: left;
    padding: 8px;

    img {
      display: block;
      height: 100%;
      margin: 0;
    }
  }
  .nav ul {
    float: right;
    padding-right: 0;

    a {
      padding: 8px 16px;
      height: 64px;
      line-height: 48px;
    }
  }
}

@media screen and (max-width: $on-palm) {
  .top-nav .nav ul a {
    padding: .5rem;
  }
}


.home-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.title-pane {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 40%;
  height: 100%;
  background: $brand-color;
  color: #222;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    padding: 2rem;
  }

  h1 {
    text-indent: -9999px;
    position: absolute;
  }

  p {
    display: block;
    margin-top: 1.6rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    font-size: 110%;
    color: #fff;
  }
}

@media screen and (orientation: landscape) and (max-height: 400px) {
  .title-pane p {
    font-size: 100%;
  }
}

.home-page .nav {
  flex: 0 0 auto;
  padding: 1rem 0;
}

.post-list-pane {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: $grid-spacing 0 0 0;
  height: 100%;
  overflow-y: auto;
  width: 60%;
  background: #501984;
  background-image: url('../assets/slice.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;

  .wrapper {
    max-width: 100%;
    padding: 0;
  }

}

.home-page .post-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 $grid-spacing;
}

.post-list .post-meta {
  display: block;
  font-size: 80%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  margin-bottom: .8rem;
}

.home-page .post-list > li {
  display: block;
  flex: 0 1 25%;
  margin-bottom: $grid-spacing;

  a {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: $grid-spacing;
    margin-right: $grid-spacing;
    color: $text-color;

    .title {
      display: block;
      font-weight: 600;
    }
    .excerpt {
      flex: 1 1 auto;
      display: block;
      margin: .8rem 0 0;
    }
    .post-meta {
      margin: .8rem 0 0;
    }
    .post-meta time {
      color: $brand-color;
    }

    &:hover {
      text-decoration: none;

      time, .title {
        text-decoration: underline;
      }
    }
  }
}

.tags {
  list-style-type: none;
  margin: .4em 0 0 0;
  font-size: 80%;
  font-family: $monospace-font-family;
  font-weight: 600;

  li {
    display: inline-block;
    background: $grey-color-light;
    padding: 0 .4em;
    margin-top: .4em;
  }
}

@include media-query($on-very-big-screen) {
  .home-page .post-list > li {
    flex-basis: 50%;
  }
}

@include media-query($on-laptop) {
  .home-page .post-list > li {
    flex-basis: 100%;
  }
}

@media screen and (orientation: portrait) and (max-width: $on-big-screen) {
  .title-pane {
    position: static;
    width: 100%;
    height: auto;
  }
  .post-list-pane {
    position: static;
    width: 100%;
    height: auto;
    background-attachment: fixed;
  }
}

@media screen and (max-width: $on-palm) {
  .title-pane .wrapper {
    padding: 1rem;
  }
  .post-list-pane {
    padding-top: 1rem;
  }
  .home-page .post-list {
    margin-left: 1rem;

    & > li {
      margin-bottom: 1rem;

      a {
        margin-right: 1rem;
      }
    }
  }
  .home-page .nav {
    padding: .5rem 0;
  }
  .home-page .nav a {
    padding: .5rem;
  }
}

.post-comments {
  padding: 0 0 $spacing-unit;
}

#post-comments-link {
  display: block;
  text-align: center;
}

#post-comments-link.hidden,
.hidden {
  display: none;
}

.no-javascript {
  font-style: italic;
  font-size: $small-font-size;
  color: $grey-color;
  text-align: center;
}

/**
 * Site footer
 */
.site-footer {
  margin-top: $spacing-unit;
  text-align: center;
  font-size: $small-font-size;
}

/**
 * Page content
 */
.page-content {
  margin-bottom: $spacing-unit 0;
}
.category-excerpt {
  font-style: italic;
  margin-bottom: 3.2rem;
}

.page-header {
  margin-top: $spacing-unit*2;
  margin-bottom: $spacing-unit;
  text-align: center;
}
.post-header {
  margin-bottom: $spacing-unit * 2;
}

.page-title {
  font-size: 28px;
  margin-bottom: $spacing-unit / 4;
  font-weight: 600;

  @include media-query($on-laptop) {
    font-size: 28px;
  }
  @include media-query($on-palm) {
    font-size: 24px;
  }
}

.draft {
  color: #222;
  background: #ffea33;
}

.post-excerpt {
  font-style: italic;
  font-size: 90%;
}
.post .post-meta {
  font-size: 80%;
  font-weight: 600;
  text-transform: uppercase;
  
  .category {
    margin-top: .5rem;
    display: block;
  }
}

.post-list.archive,
.category-page .post-list {
  list-style-type: none;
  margin-left: 0;

  li {
    margin-bottom: 3.2rem;
  }

  .title {
   text-transform: none;
  }
  .title,
  .excerpt {
    margin-bottom: .8rem;
  }
}


.index-heading {
  position: absolute;
  text-indent: -9999px;
}


/**
 * Posts
 */

.post-content {
  margin-bottom: 2em;
}

.post-content figure {
    img {
        margin: 1em auto;
    }
}
.post-content p.draft {
  padding: 1em;
  background: lighten(#ffea33, 25%);
  border: 1px dashed #ffea33;
  color: darken(#ffea33, 50%);
}

figcaption,
.caption {
    text-align: center;
    font-style: italic;
    font-size: $small-font-size;
    margin: 1em auto 2em;
    max-width: 400px;
}

.caption-number {
  margin-right: .25em;
}

.musical-signs {
    text-align: center;
    margin: 0 auto;

    td img {
      display: inline-block;
      margin: .25em 0;
    }
}
.music-sign {
    display: inline-block;
    font-size: 125%;
    line-height: 1.6rem;
    vertical-align: sub;

    &.stave {
        margin: 0 .5em 0 .1em;
    }
}

@media print {
  .home-page .title-pane {
    position: static;
    width: auto;
    height: auto;

    h1 {
      font-size: 200%;
      text-transform: uppercase;
      position: static;
      text-indent: 0;
    }
    img {
      display: none;
    }
  }
  .home-page .nav {
    display: none;
  }
  .home-page .post-list-pane {
    position: static;
    width: auto;
    height: auto;
  }
  .home-page .post-list > li {
    flex-basis: 100%;
  }
  .top-nav {
    display: none;
  }
}
