div.sourceCode {
  overflow: visible;
}
pre.sourceCode {
  overflow-x: auto;
}
div.sourceLine, a.sourceLine {
  display: inline-block;
  min-height: 1.25em;
}
a.sourceLine {
  pointer-events: none;
  color: inherit;
  text-decoration: inherit;
}
.sourceCode {
  overflow: visible;
}
code.sourceCode {
  white-space: pre;
}
@media print {
  code.sourceCode {
    white-space: pre-wrap;
  }
  div.sourceLine, a.sourceLine {
    text-indent: -1em;
    padding-left: 1em;
  }
}
.numberSource div.sourceLine, .numberSource a.sourceLine {
  position: relative;
}
.numberSource div.sourceLine::before, .numberSource a.sourceLine::before {
  content: attr(data-line-number);
  position: absolute;
  left: -5em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  pointer-events: all;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 4px;
  width: 4em;
}
.numberSource pre.sourceCode {
  margin-left: 3em;
  border-left: 1px solid #a0a0a0;
  background-color: #ffffff;
  color: #a0a0a0;
  padding-left: 4px;
}
pre, code {
  color: #333;
}
@media screen {
  a.sourceLine::before {
    text-decoration: underline;
    color: initial;
  }
}

code span.kw { color: inherit; font-weight: 800; } /* Keyword */
code span.dt { color: inherit; font-style: italic; } /* DataType */
code span.dv { color: inherit; } /* DecVal */
code span.bn { color: inherit; } /* BaseN */
code span.fl { color: inherit; } /* Float */
code span.cn { color: inherit; } /* Constant */
code span.ch { color: inherit; } /* Char */
code span.sc { color: inherit; } /* SpecialChar */
code span.st { color: #666; } /* String */
code span.vs { color: inherit; } /* VerbatimString */
code span.ss { color: inherit; } /* SpecialString */
code span.im { color: inherit; } /* Import */
code span.co { color: #999999; font-style: italic; } /* Comment */
code span.do { color: #666666; font-style: italic; } /* Documentation */
code span.an { color: inherit; } /* Annotation */
code span.cv { color: inherit; } /* CommentVar */
code span.ot { color: inherit; font-style: italic; } /* Other */
code span.fu { color: inherit; } /* Function */
code span.va { color: inherit; } /* Variable */
code span.cf { color: inherit; font-weight: bold; } /* ControlFlow */
code span.op { color: inherit; } /* Operator */
code span.bu { color: inherit; font-weight: bold; } /* BuiltIn */
code span.ex { color: inherit; font-weight: bold; } /* Extension */
code span.pp { color: inherit; } /* Preprocessor */
code span.at { color: inherit; } /* Attribute */
code span.re { color: inherit; } /* RegionMarker */
code span.in { color: inherit; } /* Information */
code span.wa { color: inherit; } /* Warning */
code span.al { color: inherit; font-weight: bold; } /* Alert */
code span.er { color: inherit; } /* Error */
code span { color: inherit; } /* Normal */
