---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Source Sans Pro', 'Ubuntu', sans-serif;
$secondary-font-family: 'Oswald', 'Ubuntu Condensed', 'Impact', sans-serif;
$monospace-font-family: 'Iosevka', 'Ubuntu Mono', monospace;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  90%;
$base-line-height: 1.5;
$code-background-color: #fff9de;

$spacing-unit:     2rem;

$brand-color:      #e81c4f;
$text-color:       #222222;
$background-color: #fff;

$grey-color:       #aaa;
$grey-color-light: #f0f0f0;
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    $base-font-size * 45;

$on-palm:             600px;
$on-laptop:           800px;
$on-big-screen:       1400px;
$on-very-big-screen:  1800px;



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "home"
;
