---
layout: page
---

<ul class="archive post-list">
  {% for post in site.posts %}
  <li{% if post.published == false %} class="draft"{% endif %}>
    <h2 class="title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <p class="excerpt">{{ post.excerpt }}</p>
    <div class="post-meta">
      <time>{{ post.date | date: "%B %-d, %Y" }}</time>
      {% assign category = post.categories | first %}
      {% if category %}
      <span class="category">
        In <a href="{{ site.baseurl }}/{{ category }}">{{category | replace: '-', ' ' }}</a>
      </span>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
