---
layout: default
---

<div class="home-page">
  <div class="title-pane">
    <div class="wrapper">
      <h1 itemprop="name headline">{{ site.title }}</h1>
      <img src="{{ site.baseurl }}/assets/logo.png"
          srcset="{{ site.baseurl }}/assets/logo.png 1x,
          {{ site.baseurl }}/assets/logo@2x.png 2x"
          alt="FUNC DA WORLD">
      <p><span class="name">Oskar Wickström</span> on functional programming</p>
    </div>
    <nav class="nav">
      <ul>
        {% include nav-items.html %}
      </ul>
    </nav>
  </div>
  <div class="post-list-pane">
    <div class="wrapper">
      <ul class="post-list">
        {% for post in site.posts %}
        <li>
          <a class="post-link {% if post.published == false %}draft{% endif %}"
             href="{{ post.url | prepend: site.baseurl }}">
            <time>{{ post.date | date: "%B %-d, %Y" }}</time>
            <span class="title">{{ post.title }}</span>
            <span class="excerpt">{{ post.excerpt }}</span>
            <ul class="tags">
            {% for tag in post.tags %}
              <li>{{ tag }}</li>
            {% endfor %}
            </ul>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
