@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Fira+Code:wght@300..700&display=swap');

:root {
  font-family: "Crimson Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
}

html {
  background: #fff;
  color: #2c363c;
}

html,
body {
  line-height: 1.4;
}

p {
  font-size: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin: 2.5rem 0 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin: 2rem 0 1rem;
}

a:link {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #888;
}

strong {
  font-weight: 600;
}

blockquote {
  padding: 0 2rem;
  font-style: italic;
}

ul,
ol,
p {
  margin: 1rem 0;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}

li > ul, li > ol {
  margin: .75rem 0;
}

li {
  margin: 0.25rem 0;
}

figure {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  margin-top: .5rem;
  text-align: center;
  font-style: italic;
}

th,
td {
  padding: .5rem;
  border-bottom: 1px solid #ddd;
}

tr.divider td {
  text-align: center;
  font-style: italic;
}
sup {
  font-size: .75em;
  line-height: 1;
}

dl {
  margin: 2rem 0;
}

dt {
  font-size: 1rem;
  font-weight: 600;
  margin-top: .5rem;
}

dd {
  margin-left: 1rem;
}

pre,
code {
  font-family: "Fira Code", monospace;
  font-size: .8rem;
  font-weight: 425;
}

img {
  max-width: 100%;
}

.sourceCode {
  background: inherit;
}
pre {
  padding: 1rem;
}

math {
  font-size: 1rem;
}

body {
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
}

body>.sourceCode,
body>pre {
  margin: 1rem 0;
  overflow-x: auto;
}

/*
 * Post
 */

#title-block-header {
  display: flex;
  margin: 2rem 0 3rem 0;
  flex-wrap: wrap;
  font-family: "Alegreya Sans", sans-serif;
}

#title-block-header h1 {
  flex: 1 1 100%;
  margin: 0 0 .5rem;
}

#title-block-header .author,
#title-block-header .date {
  margin: 0;
  color: #666;
}

#title-block-header .date:before {
  content: '\2014';
  margin: 0 .25em;
}

.post-nav {
  font-family: "Alegreya Sans", sans-serif;
  color: #666;
}

.post-nav.before {
  margin: 0;
}

.post-nav.after {
  margin: 2rem 0 0;
}

.post-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.post-nav a {
  color: inherit;
}

/*
 * Index
 */
.index-page header {
  padding: 4rem 0 2rem 0;
}

.index-page h1 {
  font-size: 3rem;
}

.index-page p {
  font-size: 1.25rem;
}

.index {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.index li {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

@media screen and (max-width: 90ch) {
  :root {
    font-size: 16px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.375rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  body>.sourceCode,
  body>pre {
    margin: 1rem -1rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: #b4bdc3;
  }

  a:link {
    color: #fff;
  }

  a:visited {
    color: #ccc;
  }

  #title-block-header .author,
  #title-block-header .date {
    color: #aaa;
  }
}
.footnote-ref {
  text-decoration: none !important;
}
.footnote-ref sup:before {
  content: '[';
}
.footnote-ref sup:after {
  content: ']';
}

/* Syntax highlighting overrides */

code span.kw,
code span.cf,
code span.pp,
code span.im {
  font-weight: 600;
}

code span.at,
code span.dt {
  text-decoration: none;
  font-style: italic;
}

code span.co {
  color: #999;
}

code span.st, code span.ss {
  color: #556570;
}

@media (prefers-color-scheme: dark) {
  code span.kw,
  code span.im {
    font-weight: 600;
  }
  code span.at,
  code span.dt {
    color: #a1938c;
  }
  code span.st, code span.ss {
    color: #868c91;
  }
}
