---
title: Writing
layout: page
---
<ul class="archive post-list">
  {% for post in site.posts %}
  <li{% if post.published == false %} class="draft"{% endif %}>
    <h2 class="title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <p class="excerpt">{{ post.excerpt }}</p>
    <div class="post-meta">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>
        </a>
        {% assign category = post.categories | first %}
        {% if category %}
        <span class="category"><a href="{{ site.baseurl }}/{{ category }}/index.html">{{category | replace: '-', ' ' | capitalize_all }}</a></span>
        {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
